*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(12, 12, 87);
    position: relative;
}
.div1{
    background-color: white;
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    top: 50px;
    left: 135px;
}
.div2{
    background-color: rgb(12, 12, 87);
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    top: 37px;
    left: 147px;
}
.div3{
    background-color: rgb(240, 208, 170);
    height: 335px;
    width: 335px;
    position: absolute;
    top: 215px;
    right: 360px;
    border-radius: 50%;
}
/* .div4{
    background-color: rgb(173, 113, 113);
    height: 350px;
    width: 350px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 1;
} */
.div4{
    background-color: rgb(12, 12, 87);
    height: 270px;
    width: 350px;
    position: absolute;
    top: 292px;
    right: 352px;
}
.div5{
    background-color: antiquewhite;
    height: 116px;
    width: 240px;
    position: absolute;
    top: 292px;
    right: 407px;
}
.div6 {
	background-color: rgb(56, 42, 3);
	height: 20px;
	width: 277px;
	position: absolute;
	top: 407px;
	right: 389px;
}
.div7 {
	background-color: rgb(56, 42, 3);
	height: 74px;
	width: 45px;
	position: absolute;
	top: 335px;
	right: 457px;
}
.div8 {
	background-color: rgb(56, 42, 3);
	height: 34px;
	width: 48px;
	position: absolute;
	top: 343px;
	right: 553px;
}
.div9 {
	background-color: rgb(56, 42, 3);
	height: 127px;
	width: 17px;
	position: absolute;
	top: 302px;
	right: 309px;
}
.div10 {
	background-color: rgb(4, 88, 25);
	height: 100px;
	width: 100px;
	position: absolute;
	border-radius: 50%;
	top: 227px;
	left: 1044px;
}
.div11 {
	background-color: rgb(4, 88, 25);
	height: 100px;
	width: 100px;
	position: absolute;
	border-radius: 50%;
	top: 227px;
	left: 957px;
}
.div12 {
	background-color: rgb(4, 88, 25);
	height: 100px;
	width: 68px;
	position: absolute;
	border-radius: 50%;
	top: 155px;
	left: 1016px;
}
.div13 {
	background-color: rgb(4, 88, 25);
	height: 40px;
	width: 68px;
	position: absolute;
	border-radius: 50%;
	top: 192px;
	left: 976px;
}
.div14 {
	background-color: rgb(4, 88, 25);
	height: 40px;
	width: 68px;
	position: absolute;
	border-radius: 50%;
	top: 192px;
	left: 1054px;
}